/* css glocal é default */
:root {

  --main-color: #ececec;

  --secondary-color: #181425;

  --accent-color: #12e497;

  --gray1: #b2b2b2;

  --gray2: #474747;

  --azul: #006dfb;

  --roxo: #41197f;

}

::selection {
  background: var(--accent-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100vh;
}