/* css glocal é default */
:root {
 
  --accent-color1: #f9bc60;

  --accent-color2: #e16162;;

  --green1: #001e1d;

  --green2: #0f3433;

  --green3: #004643;

  --green4: #abd1c6;
  
  --light: #fffffe;
  
}

::selection {
  background: var(--accent-color2);
}

* {
  box-sizing: border-box;
  background-color: var(--green2);
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100vh;
}

